<div class="fixed inset-0 -z-10 overflow-hidden">
  <div
    class="absolute top-0 right-0 w-[22rem] sm:w-[26rem] md:w-[30rem] h-[22rem] sm:h-[26rem] md:h-[30rem] bg-fuchsia-600/20 blur-[100px] rounded-full"
  ></div>
  <div
    class="absolute bottom-0 left-0 w-[20rem] sm:w-[24rem] md:w-[28rem] h-[20rem] sm:h-[24rem] md:h-[28rem] bg-cyan-500/20 blur-[100px] rounded-full"
  ></div>
  <div
    class="absolute top-[30%] left-[35%] w-[14rem] sm:w-[18rem] md:w-[20rem] h-[14rem] sm:h-[18rem] md:h-[20rem] bg-amber-400/10 blur-[90px] rounded-full"
  ></div>
  <div
    class="absolute inset-0 bg-[linear-gradient(to_bottom_right,rgba(255,255,255,0.02),transparent,rgba(255,255,255,0.01))]"
  ></div>
</div>
