<div class="fixed inset-0 -z-10 overflow-hidden pointer-events-none">
  <div
    class="absolute top-0 right-0 w-[30rem] h-[30rem] bg-amber-500/10 blur-[120px] rounded-full"
  ></div>
  <div
    class="absolute top-[20%] left-[10%] w-[22rem] h-[22rem] bg-orange-500/10 blur-[120px] rounded-full"
  ></div>
  <div
    class="absolute bottom-0 left-0 w-[26rem] h-[26rem] bg-yellow-500/10 blur-[120px] rounded-full"
  ></div>
  <div
    class="absolute inset-0 bg-[linear-gradient(to_bottom,rgba(255,255,255,0.02),transparent,rgba(255,255,255,0.01))]"
  ></div>
</div>
